@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* { /* universal selector */
    /* padding does not effect the width of element */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* virtically center me tab aayega jab jab kuch height hogi uski */
}